*, :after, :before{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0 auto;
  visibility: visible;
}

img {
  max-width: 100%;
}

.top-container {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 75px 0;
}

.top-content-box {
  display: flex;
  max-width: 1080px;
  width: 83.333%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.background-video {
  position: absolute;
  width: 100%;
}

video {
  object-fit: contain;
}

.top-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.headline {
  font-size: 71px;
  line-height: 79px;
  letter-spacing: -1px;
  font-family: SharpGroteskWide, Open Sans, sans-serif;
  font-weight: 500;
  color: #fff;
}


.paragraph {
  font-family: SharpGrotesk, Open Sans, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

.color-black {
  color: #000;
}

.common {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}


.dropbox-button {
  padding: 8px 50px;
  font-family: AtlasGrotesk, Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  background-color: #fff;
  color: #000;
  width: 100%;
  border: 1px solid transparent;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
}


.feature-container {
  width: 100%;
  padding: 50px 0;
}

.feature-content-grid {
  max-width: 1080px;
  width: 83.333%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* :nth-of-type(odd/even) wasn't working 
so had to select id and change it this way */

#second-feature {
  flex-direction: row;
}


.feature-content-grid >* {
  max-width: 100%;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.feature-image {
  margin-left: 4.166666666666666%;
  margin-bottom: 0;
  width: 45.83333333333333%;
}


#second-image {
  margin-left: 0%;
  margin-right: 4.166666666666666%;
}

.feature-text {
  margin-right: 4.166666666666666%;
  width: 45.83333333333333%;
}

#second-text {
  margin-right: 0%;
  margin-left: 4.166666666666666%;
}

.feature-headline, .footer-headline {
  font-family: SharpGroteskWide, Open Sans, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
}


.feature-headline {
  color: #000;
}

.footer-headline {
  color: #ffafa2;
}

.feature-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-li {
  font-family: SharpGrotesk,Open Sans,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: flex-start;
  margin: 0;
}

.feature-li:not(:first-child) {
  margin-top: 5px;
}

.list-icon-container {
  margin-top: 6px;
  margin-right: 15px;
  display: flex;
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.list-icon {
  display: inline-block;
  width: 9px;
  height: 5px;
  margin-top: -3px;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  transform: rotate(-50deg);
}

.footer-container {
  padding: 75px 0;
  background-color: #0d2f81;
  width: 100%;
}

.footer-content {
  max-width: 1080px;
  width: 83.333%;
  margin: 0 auto;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  display: flex;
  flex-wrap: wrap;
  width: 58.333333333333336%;
  margin-right: 4.166666666666666%;
}

.footer-text, .footer-cta {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-cta {
  width: 37.5%;
}

/* screen 1024px max width css */
@media (max-width: 1024px) {
  .headline {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0px;
  }
  .feature-headline, .footer-headline {
    font-size: 25px;
    line-height: 32px;
  }
}

/* screen 800px max width css */
@media (max-width: 800px) {
  .top-content {
    width: 100%;
  }

  .feature {
    justify-content: center;
    align-items: center;
  }


  .feature-image, #second-image, .feature-text, #second-text {
    margin: 0 auto;
    width: 100%;
  }

  .feature-image, #second-image {
    margin-bottom: 50px;
  }

  .footer-content {
    max-width: 1080px;
    width: 83.333%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-text {
    width: 100%;
    margin-right: 0%;
    justify-content: flex-start;
  }

  .footer-cta {
    width: auto;
  }

}

/* screen between 800px and 719px width css */
@media (max-width: 800px) and (min-width: 719px) {
  .top-content-box {
    align-items: flex-start;
  }
  
  .background-video {
    margin-top: -75px;
  }
}

/* screen 718px max width css */
@media (max-width: 718px) {
  .background-video {
    width: auto;
    height: 100%;
  }
}